.container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.main-title {
  position: absolute;
  font-weight: bolder;
  font-size: 50px;
  color: #FF99F5;
  padding: 0px;
}

.users-section {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 75px 0px 0px 0px;
  justify-content: space-evenly;
}

.nice-button  {
  padding: 15px;
  font-size: 16px;
  margin: 10px;
  margin-right: 10px;
  margin-bottom: 15px;
  background-color: #E880AF;
  color: rgb(243, 233, 233);
  border: 0px solid #E880AF;
  border-radius: 5px;
  text-decoration: none;
  align-content: center;
  text-align: center;
  z-index: 5;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}

.nice-button:hover {
  background-color: rgba(232, 128, 175, 0.836);
	cursor: pointer;
}

.user-card {
  background-color: rgb(243, 233, 233);
  padding: 15px;
  margin-bottom: 15px;
  border-radius: 5px;
  z-index: 5;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  text-decoration: none;
}

.user-card a{
  text-decoration: none;
  color: #E880AF;
  text-align: center;
  padding: 0px;
  width: auto;
}
.user-card p{
  background-color: #E880AF;
  color: rgb(243, 233, 233);
  border: none;
  border-radius: 4px;
  padding: 0px;
  text-align: center;
  width: auto;
}
.user-card p:hover {
  background-color: rgba(232, 128, 175, 0.836);
}